$color : linear-gradient(90deg, #5D54A4, #7C78B8);
$butcolors : linear-gradient(to bottom,#cb42f5,#f542ec);
.RegisterMain{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $color;
    overflow: hidden;
}

.RegisterMain .Main{
    width: 17%;
    background-color: #f2f7ff;
    border-radius: 20px;
    position:relative;
    height: auto;
}

.RegisterMain .Main .header {
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
}

.ToggleContainer {
    width: 180px;
    height: 50px;
    margin: 0 auto;
    display: flex;
}
.LoginToggle,.SignUpToggle {
    width: 70%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px gray;
    border-radius: 5px;
    cursor: pointer;
    margin: 3px;
}

@media (min-width:320px)  {
    .RegisterMain .Main{
        width: 80%;
    }
}
@media (min-width:481px)  {
    .RegisterMain .Main{
        width: 60%;
    }
}
@media (min-width:641px)  {
    .RegisterMain .Main{
        width: 40%;
    }
}
@media (min-width:961px)  {
    .RegisterMain .Main{
        width: 30%;
    }
}
@media (min-width:1025px) {
    .RegisterMain .Main{
        width: 30%;
    }
}
@media (min-width:1281px) {
    .RegisterMain .Main{
        width: 18%;
    }
}